/* apply monospace font to everything */
body {
  font-family: monospace;
}

#canvasParent {
  display: flex;
  flex-direction: row-reverse;
  float: left;
}

#guiDiv {
 /* upper right hand corner canvasParent */
  top: 0;
  right: 0;
  background: rgb(230, 230, 230);
  width: 15vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
} 